.sideMenu {
    background: #444444;
}

.slideBoxStyle {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.slideStyle {
    padding: 10px;
}

.popup-head {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.popup-container .popup {
    width: 90% !important;
}

.selected {
    background: #6495ed;
    color: #ffffff;
    border-style:solid;
}
