<ion-view title="{{pageTitle}}">
    <ion-content>

        <!--search field-->
        <div class="bar bar-header item-input-inset">
            <div class="item-input-wrapper" class="bar bar-header item-input-inset">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="query"/>
                <i class="clear-search icon ion-ios7-close-empty" ng-click="clearQuery()" ng-hide="query === ''"></i>
            </div>
        </div>

        <ion-list scroll="false">
            <div class="item item-thumbnail-left" ng-repeat="book in books | searchAll: query | orderBy: 'authorName' | orderBy: 'bookName'" on-tap="openBookFromLibrary(book)" on-hold="openOptions(book)">
                <!--ng-click="openBookFromLibrary(book)"-->
                <img ng-src="{{book.coverpage}}"/>
                <p>{{book.authorName}}</p>
                <h3>{{book.bookName}}</h3>
                <i ng-class="book.rating >= 1 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'"></i>
                <i ng-class="book.rating >= 2 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'"></i>
                <i ng-class="book.rating >= 3 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'"></i>
                <i ng-class="book.rating >= 4 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'"></i>
                <i ng-class="book.rating >= 5 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'"></i>
            </div>
        </ion-list>

    </ion-content>
</ion-view>