<ion-view title="Library">
    <ion-content>

        <!--search field-->
        <div class="bar bar-header item-input-inset">
            <div class="item-input-wrapper" class="bar bar-header item-input-inset">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="query"/>
                <i class="clear-search icon ion-ios7-close-empty" ng-click="clearQuery()" ng-hide="query === ''"></i>
            </div>
        </div>

        <ion-list scroll="false">
            <a class="item" ng-repeat="book in books | searchAuthor: query | orderBy: 'authorName' | orderBy: 'bookName' | unique: 'authorName'" ng-href = "#/menu/libraryTabs/title/true&{{book.authorId}}">
                <h2>{{book.authorName}}</h2>
            </a>
        </ion-list>

    </ion-content>
</ion-view>