<button class="button button-block button-stable" ng-click="viewBookClick()">View</button>
<button class="button button-block button-stable" ng-click="rateBookClick()">Rate</button>
<button class="button button-block button-stable" ng-click="deleteBookClick()">Delete</button>