<label class="item item-input">
    <input type="text" placeholder="Note name" ng-model="note.name" required>
</label>
<label class="item item-input">
    <textarea id="noteDescription" placeholder="description" ng-model="note.comment" rows="4"> </textarea>
</label>
