<div style="color: #eeb111; text-align: center;">
    <i ng-class="currentRate >= 1 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'" ng-click="setCurrentRate(1)" style="height: 50px; font-size: 250%;"></i>
    <i ng-class="currentRate >= 2 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'" ng-click="setCurrentRate(2)" style="height: 50px; font-size: 250%;"></i>
    <i ng-class="currentRate >= 3 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'" ng-click="setCurrentRate(3)" style="height: 50px; font-size: 250%;"></i>
    <i ng-class="currentRate >= 4 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'" ng-click="setCurrentRate(4)" style="height: 50px; font-size: 250%;"></i>
    <i ng-class="currentRate >= 5 ? 'icon ion-ios7-star' : 'icon ion-ios7-star-outline'" ng-click="setCurrentRate(5)" style="height: 50px; font-size: 250%;"></i>
</div>