<div id="popup-fit-authors">
    <div ng-repeat="relevantAuthor in relevantAuthors" ng-click="select(relevantAuthors.indexOf(relevantAuthor))" class="item item-text-wrap div-author">
        {{relevantAuthor.firstName + " " + relevantAuthor.lastName}}
    </div>
    <div ng-show="showError" class="item item-text-wrap" style="color: #D8000C;background-color: #FFBABA;">
        Please select an author to replace with.
    </div>
</div>