<label class="item item-input">
    <input type="number" placeholder="Page number" ng-model="pageNumber.value" required>
</label>
<div ng-show="showError" class="card">
    <div class="item item-text-wrap" style="color: #D8000C;background-color: #FFBABA;">
        There is no such page in this book.
    </div>
</div>