<div id="popupSelection" ng-show="showPopup" style="position: absolute; width: 100%; opacity: 0.9">
    <div class="button-bar" style="position: relative; width: 70%; margin: 0 auto;">
        <div class="button button-positive icon ion-ios7-copy" ng-click="onCopyClick()">
        </div>
        <div class="button button-positive icon ion-android-note" ng-click="onNoteClick()">
        </div>
        <div class="button button-positive icon ion-social-twitter" ng-click="onShareClick()">
        </div>
        <div class="button button-positive icon ion-social-facebook " ng-click="onShareFacebookClick()">
        </div>
    </div>
    <div id="div-warning"></div>

</div>
