<ion-view title="Facebook">

    <ion-header-bar class="bar bar-subheader bar-stable">
        <h1 class="title">{{name}}</h1>
        <div class="buttons">
            <button class="button button-icon" ng-click="logout()" ng-hide='name === "Login please"'>
                <i class="icon ion-log-out"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content>

        <div style=" margin: 20px;">
            <button class="button icon-left ion-social-facebook button-block button-positive" ng-click="login()"
                    ng-show='name === "Login please"'>LOGIN
            </button>
        </div>

        <div class="item item-text-wrap" style=" padding:10px; border-color: #0066bb; font-size: 20px; margin-right: 20px; margin-left: 20px; margin-top: 20px;"
             ng-hide='name === "Login please"'>
            {{postText}}
        </div>

        <div style="margin-right: 20px;">
            <button class="button icon-left ion-social-facebook button-outline button-positive" style="float: right;"
                    ng-click="share()" ng-hide='name === "Login please"'>
                POST
            </button>
        </div>

    </ion-content>

</ion-view>

