<ion-view title="Library">

    <!--add button-->
    <ion-nav-buttons side="right" ng-hide="fullScreenMode">
        <button class="button button-icon button-clear ion-social-dropbox" ng-click="openDropbox()"></button>
        <a class="button button-icon button-clear ion-plus-round" href="#/menu/fileExplorer/"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-top" tabs-type="tabs-positive">
        <!--tab for sorting by title-->
        <ion-tab title="Title" icon="icon ion-android-book" href="#/menu/libraryTabs/title/&">
            <ion-nav-view name="title-tab"></ion-nav-view>
        </ion-tab>

        <!--tab for sorting by author-->
        <ion-tab title="Author" icon="icon ion-person" href="#/menu/libraryTabs/author/">
            <ion-nav-view name="author-tab"></ion-nav-view>
        </ion-tab>

        <!--tab for sorting by genre-->
        <ion-tab title="Genre" icon="icon ion-film-marker" href="#/menu/libraryTabs/genre">
            <ion-nav-view name="genre-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
