<ion-view title="Book">
    <!--buttons-->
    <ion-nav-buttons side="right" ng-hide="fullScreenMode">
        <a type="button" href="#/menu/NBTabs" class="button button-icon button-clear ion-document"/> </a>
        <button class="button button-icon button-clear ion-ios7-redo" ng-click="gotoNextPS()"></button>
        <button class="button button-icon button-clear ion-bookmark" ng-click="addBookmarkPS()"></button>
    </ion-nav-buttons>

    <!--page slider-->
    <ion-slide-box show-pager="false" class="slideBoxStyle"
                   on-slide-changed="onPageChanged($index)" active-slide="activePage" does-continue="true"
                   ng-style="{'background-color' : textSettings.backColor, 'color' : textSettings.textColor,
                    'font-size' : textSettings.fontSize.px, 'font-family' : textSettings.fontFamily.value}">
        <ion-slide class="slideStyle" ng-click="onSlideClick()">
            <div id="slide0" ng-bind-html="pagesModel[0] | rightColor | to_trusted" on-hold="selectionHandler.onHold()"
                 ng-style="{width : winParams.width, height: winParams.height}"></div>
        </ion-slide>
        <ion-slide class="slideStyle" ng-click="onSlideClick()">
            <div id="slide1" ng-bind-html="pagesModel[1] | rightColor |to_trusted" on-hold="selectionHandler.onHold()"
                 ng-style="{width : winParams.width, height: winParams.height}"></div>
        </ion-slide>
        <ion-slide class="slideStyle" ng-click="onSlideClick()">
            <div id="slide2" ng-bind-html="pagesModel[2]| rightColor  |to_trusted">          <!-- | rightColor !-->
                 ng-style="{width : winParams.width, height: winParams.height}"
                 on-hold="selectionHandler.onHold()"></div>
        </ion-slide>
    </ion-slide-box>

    <ng-include src="'templates/popup/popup-context.html'"></ng-include>
    <ng-include src="'templates/selection/selection.html'" onload="onSelectionImgLoad()"></ng-include>

    <!--bottom panel-->
    <div class="bar bar-footer" ng-hide="fullScreenMode">
        <button class="button ion-chevron-left" align="left" ng-click="PreviousPage()"></button>
        <div class="title">Page {{currentPageIndex + 1}} of {{totalPages}}</div>
        <button class="button ion-chevron-right" align="right" ng-click="NextPage()"></button>
    </div>
</ion-view>