<ion-view title="File explorer">
    <ion-header-bar class="bar-subheader bar-positive">
        <div class="button-bar">
            <button class="button button-clear icon-left ion-chevron-left" ng-click="back()">back</button>
            <button class="button button-clear icon-left ion-arrow-up-a" ng-click="up()">up</button>
            <button class="button button-clear icon-left ion-home" ng-click="home()">home</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="fsItem in fsItems" ng-click="onItemClick(fsItem)" class="item item-icon-left">
                <i class="icon custom-icon"
                   ng-class="{ 'ion-document-text' : fsItem.isFile, 'ion-folder' : fsItem.isDirectory }"></i>

                <div style="font-size: 16px; margin-left: 10px;"> {{fsItem.name}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
