<ion-view>
    <ion-content>
        <ion-list scroll="false">
            <ion-item ng-repeat="bookmark in bookmarksList" can-swipe="true" ng-click="goToBookmark(bookmark)" class="item item-icon-left">
                <i class="icon ion-bookmark custom-icon"> </i>
                <div style="font-size: 23px; margin: 10px;"> {{bookmark.name}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>