<ion-view title="Settings">
    <ion-content padding="true">

        <label class="item item-input item-select">
            <div class="input-label">
                Font Size:
            </div>
            <select ng-model="selectedFontSize" ng-options="avaliableFontSize.number for avaliableFontSize in avaliableFontSizes">
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Font Family:
            </div>
            <select ng-model="selectedFontFamily" ng-options="avaliableFontFamily.name for avaliableFontFamily in avaliableFontFamilies">
            </select>
        </label>

        <label class="item item-input">
            <div class="input-label" style="width: 30%">
                Text Color:
            </div>
            <div style="width: 38%">
                <select ng-options="availableTextColorSample.name for availableTextColorSample in availableTextColorSamples"
                        ng-model="selectedTextColorSample" ng-change="listTextSamplesChange(selectedTextColorSample)"></select>
            </div>
            <div style="width: 38%">
            <input type="text" ng-model="selectedTextColor"/>
            </div>

        </label>

        <label class="item item-input">
            <div class="input-label" style="width: 30%">
                Back Color:
            </div>
            <div style="width: 38%">
                <select ng-options="availableBackColorSample.name for availableBackColorSample in availableBackColorSamples"
                        ng-model="selectedBackColorSample" ng-change="listBackSamplesChange(selectedBackColorSample)"></select>
            </div>
            <div style="width: 38%">
            <input type="text" ng-model="selectedBackColor"/>
            </div>

        </label>

        <div class="button button-block" ng-style="{'background-color' : selectedBackColor, 'color' : selectedTextColor,
                    'font-size' : selectedFontSize.px, 'font-family': selectedFontFamily.value}">
            TEXT SAMPLE<br/>
            Here You can see how your text settings will look like.
        </div>

        <div style="width: 100%">
        <button class="button button-positive" style="width: 65%" ng-click="acceptChanges(selectedFontSize, selectedFontFamily, selectedBackColor,selectedTextColor)">
            Save
        </button>
        <button class="button button-dark" style="width: 30%" ng-click="resetChanges()">
            Discard
        </button>
        </div>

    </ion-content>
</ion-view>