<ion-view>
    <ion-content>
        <ion-list scroll="false">
            <!--<ion-item ng-repeat="note in notes" can-swipe="true">-->
            <ion-item can-swipe="true" ng-click="goToNote(note)" ng-repeat="note in notesList">

                <div class="item item-icon-left" style="border: none;">
                    <i class="icon ion-android-note custom-icon"> </i>

                    <p style="font-size: 23px; margin: 10px;"> {{note.name}}</p>
                </div>
                <div class="item item-text-wrap" style="padding: 10px; border-color: #0066bb;"> {{note.comment}}</div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
