<ion-view title="Notes and Bookmarks">

    <ion-tabs class="tabs-icon-top" tabs-type="tabs-positive">
        <!--tab for list of notes-->
        <ion-tab title="Notes" icon="icon ion-android-note" href="#/menu/NBTabs">
            <ion-nav-view name="notes-tab"></ion-nav-view>
        </ion-tab>

        <!--tab for list of bookmarks-->
        <ion-tab title="Bookmarks" icon="icon ion-bookmark" href="#/menu/NBTabs/bookmarks">
            <ion-nav-view name="bookmarks-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>