<ion-side-menus>
    <ion-side-menu-content drag-content="!fullScreenMode">
        <ion-nav-bar class="bar-positive" animation="no-animation" ng-hide="fullScreenMode">
        </ion-nav-bar>
        <ion-nav-buttons side="left" ng-hide="fullScreenMode">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
        </ion-nav-buttons>
        <ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="200" ng-hide="fullScreenMode">
        <ion-header-bar class="bar-positive">
            <h1 class="title">
                Klappa Reader
            </h1>
        </ion-header-bar>
        <ion-content class="sideMenu">
            <ul class="list">

                <a href="#/menu/book" data-click-menulink class="item item-icon-left item-dark" menu-close>
                    <i class="icon ion-home"></i>
                    Book
                </a>
                <a href="#/menu/libraryTabs/title/&" data-click-menulink class="item item-icon-left item-dark" menu-close>
                    <i class="icon ion-android-book"></i>
                    Library
                </a>
                <a href="#/menu/recent" data-click-menulink class="item item-icon-left item-dark" menu-close>
                    <i class="icon ion-clock"></i>
                    Recent Books
                </a>
                <a href="#/menu/setting" data-click-menulink class="item item-icon-left item-dark" menu-close>
                    <i class="icon ion-android-settings"></i>
                    Settings
                </a>

            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>