<ion-view title="Twitter">

    <ion-header-bar class="bar bar-subheader bar-stable">
        <h1 class="title">{{name}}</h1>
        <div class="buttons">
            <button class="button button-icon" ng-click="doLogout()" ng-hide='name === "Login please"'>
                <i class="icon ion-log-out"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content>

        <div style=" margin: 20px;">
            <button class="button icon-left ion-social-twitter button-block button-calm" ng-click="doLogin()" ng-show='name === "Login please"'>LOGIN</button>
        </div>

        <div class="item item-text-wrap" style=" padding:10px; border-color: #43cee6; font-size: 20px; margin-right: 20px; margin-left: 20px; margin-top: 20px;" ng-hide='name === "Login please"'>
            {{tweetText}}
        </div>

        <div style="margin-right: 20px;">
            <button class="button icon-left ion-social-twitter button-outline button-calm" style="float: right;" ng-click="doTweet()" ng-hide='name === "Login please"'>
                TWEET
            </button>
        </div>

    </ion-content>

</ion-view>
